.tags {
    display: flex;
    align-self: flex-start;
    padding-top: 20px;
    gap: 10px;
     
    .tags-name {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 4px 30px;
        background: #FF6060;
        font-size: 14px;
        font-weight: 700;
    }
}
