.main-rental {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .header-rental {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 70px 25px;

        .rental-info {
            display: flex;
            flex-direction: column;

            .rental-title {
                display: flex;
                font-size: 36px;
                color: #FF6060;
            }

            .rental-location {
                padding: 5px;
                color: black;

            }
        }

        .host-info {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;

            .host {
                display: flex;
                align-items: center;
                gap: 10px;

                .host-img {
                    display: block;
                    align-self: flex-end;
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }

                .host-name {
                    color: #FF6060;
                    text-align: right;
                    width: 90px;
                }
            }

            .rating {
                width: 196px;
                height: 36px;
            }

            .rating-stars {
                display: flex;
                justify-content: flex-end;
                gap: 10px;
            }

            .star {
                color: gray;
            }

            .filled {
                color: #FF6060;
            }
        }
    }
}

.housing {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 70px 50px;

    .housing-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 76px;
        box-sizing: content-box;
        width: 100%;
    }

}

/************** Responsive mobile *************/

@media screen and (min-width: 375px) and (max-width: 767px) {
    .main-rental {
        .header-rental {
            display: flex;
            flex-direction: column;
            padding: 0px 20px;

            .rental-info {

                .rental-title {
                    font-size: 18px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: 500;
                }

                .rental-location {
                    font-size: 14px;
                    padding-left: 0;
                    padding-top: 10px;
                }
            }

            .host-info {
                display: flex;
                flex-direction: row-reverse;
                gap: 40px;

                .host {

                    .host-img {
                        width: 50px;
                        height: 50px;
                    }

                    .host-name {
                        font-size: 12px;
                    }
                }

                .rating {
                    width: 196px;
                    height: 36px;
                }

                .rating-stars {
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                }
            }
        }
    }

    .housing {
        padding: 20px 20px 27px ;
    
        .housing-list {
            display: flex;
            flex-direction: column;
            gap: 20px;         
        }
    
    }
}
