.collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px 50px;
    width: 100%;

    .collapse-list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        box-sizing: content-box;
        width: 80%;
    }

    .collapse-item {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        padding: 10px 25px 0 15px;
        width: 100%;
        color: white;
        background: var(--Red, #FF6060);
        cursor: pointer;

        h2 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        .icon-collapse {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 32px;
            height: 32px;

            &:hover {
                cursor: pointer;
            }

            &.rotate {
                transition: transform 0.3s ease-in-out;
                transform: rotate(-180deg);
            }

            &.reverse {
                transition: transform 0.3s ease-in-out;
                transform: rotate(0deg);
            }
        }

        .ReactCollapse--content {
            position: relative;
            right: 15px;
            top: 1px;
            width: 100%;
            padding: 20px;
            background-color: #F6F6F6;
            color: black;
            box-sizing: content-box;
            text-align: justify;
        }
    }

}

/************** Responsive tablette *************/

@media screen and (min-width: 768px)and (max-width: 1024px) {
    .collapse {

        .collapse-list {
            width: 100%;
        }
    }
}

/************** Responsive mobile *************/

@media screen and (min-width: 375px) and (max-width: 767px) {
    .collapse {
        padding: 20px;

        .collapse-list {
            width: 100%;
        }

        .collapse-item {
            h2 {
                font-size: 13px;
                font-weight: 700;
            }

            .icon-collapse {
                width: 20px;
                height: 20px;
            }

            .ReactCollapse--content {
                font-size: 13px;
            }
        }
    }
}
